body {
  background-color: rgba(0, 0, 0, 0.945);
  font-family: "Roboto", sans-serif;
}

.menu {
  padding-top: 90px;
}

.menu_list {
  list-style: none;
  text-align: center;
}

.menu_item {
  margin-bottom: 3px;
}

.menu_link {
  text-transform: uppercase;
  font-size: 35px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  color: rgb(0, 87, 183);
}

.menu_link::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: rgb(255, 221, 0);
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
}

.menu_link:hover::after {
  width: 100%;
}

.flag {
  background-image: linear-gradient(rgb(0, 87, 183) 50%, rgb(255, 221, 0) 50%);
}

.heading {
  font-size: 72px;
  text-align: center;

  background: -webkit-linear-gradient(rgb(255, 221, 0) 40%, rgb(0, 87, 183) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
